<div [ngClass]="setClass()">
    <!-- isCompletes: {{ todo.isCompleted }} -->
    <div class="form-group form-check">
        <input 
            type="checkbox" 
            class="form-check-input" 
            (change)="checkboxOnChange(todo)" 
            [checked]="todo.isCompleted"
        >
        <span class="form-check-label" for="exampleCheck1">
            <a href="todo-detail/{{ todo.id }}">id: {{ todo.id }} {{ todo.title }}</a>
        </span>
    </div>

    <button type="button" class="btn btn-danger" (click)="onDelete(todo)">delete</button>
    <button type="button" class="btn btn-primary" (click)="onEdit(todo)">edit</button>
    <hr>
</div>
