<p>mytest works!</p>
Hello {{ firstname }} !!!

<ul>
    <li *ngFor="let item of cars;let i = index;">{{ i }} - {{ item }}</li>
</ul>

<div *ngIf="isShown == true; then myTemplateElseIf else myTemplateElse">this text is shown !!!</div>
<ng-template #myTemplateElse>this is template 1 (else)</ng-template>
<ng-template #myTemplateElseIf>this is template 2 (else if)</ng-template>
<div>-----</div>
<div *ngIf="isShown == true; else myTemplateElse">this text is shown !!!</div>
<ng-template #myTemplateElse>this is template 1 (else)</ng-template>

<hr>
<div>result is: {{ resultNumber }}</div>
<button type="button" (click)="decrement()">-</button>
<button type="button" (click)="increment()">+</button>

<form>
    <input type="text" name="firstname" [value]="myFirstname" placeholder="enter your name">
</form>

<div class="box" [class.red]="isRed"></div>
<input type="checkbox" (change)="changeColor()">is red
<input type="checkbox" [(ngModel)]="isRed">is red 2

<div class="box" [style.backgroundColor]="isRed ? 'red' : 'green'"></div>


<input type="text" [(ngModel)]="myFirstname">
